.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    padding-top: 60px;
    overflow-y: auto
  }

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2); /* Transparan */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    margin-top: 50px;
    gap: 15px; /* Beri jarak antar tombol */
}

.title {
    font-size: 24px;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
}
