.card-container {
    display: flex;
    align-items: center;
    background-color: #f7eee6;
    padding: 5px;
    border-radius: 8px;
    border-image: linear-gradient(45deg, #dcb803 0%, #ce5441 100%);
    border-image-slice: 1 1 0 0;
    box-shadow: 0 2px 15px rgba(212, 175, 55, 0.3);
    width: 350px;
    height: 50px;
    border: 3px #00bcdd solid;
    border-image-slice: 1 1 0 0;
    z-index: 1;
    box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
    transform-origin: left bottom;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.rank-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.info-container {
    flex: 1;
}

.name-text {
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.score-text,
.time-text {
    font-size: 12px;
    color: #666;
}

.trophy-icon {
    width: 30px;
    height: 60px;
    margin-left: 5px;
}

@keyframes pulseGlow {
    0% {
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0 0 15px 4px var(--glow-color);
    }
    100% {
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0);
    }
  }
